@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  background-color: #e6e8fb;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  --primary: #67a8d8;
}

.bookify-logo {
  height: 15rem;
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
