.Snavbar-logo {
  height: 3.5rem;
  margin: 1rem 0 1rem 0.5rem;
}

.Snavbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.Slogout-button {
  background: white;
  border: none;
  color: var(--primary);
}

.Slogout-button:hover,
.Snavbar-link-items a:hover {
  color: #0d6efd;
}

/* Specific styling to overide bootstrap */
.Snavbar-link-items a {
  text-decoration: none;
  color: var(--primary);
}

.Snav-toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: var(--primary);
  transition: 0.4s ease-in;
}

.Snav-toggler {
  cursor: pointer;
  display: none;
  display: block;
  background: white;
  border: none;
}

.Snavbar-links {
  display: flex;
  position: fixed;
  top: 4rem;
  right: 0;
  width: 15rem;
  height: calc(100vh - 4rem);
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  list-style-type: none;
  padding: 10px 0 0 0;
  margin-top: 0px;
  transform: translateX(100%);
  transition: 0.4s ease-in;
}

.Snavbar-active {
  transform: translateX(0);
}

.Stoggle .line1 {
  transform: rotate(-45deg) translate(-7.5px, 5px);
}
.Stoggle .line2 {
  opacity: 0;
}
.Stoggle .line3 {
  transform: rotate(45deg) translate(-7.5px, -5px);
}
